

<h1><%= @artist.username %></h1>
<p><%= @artist.biography %></p>
<p><%= @artist.artist_statement %></p>


<p>Show a new Project, finished or In Progress</p>
      <%= link_to "Add Project!", new_project_path, class: "btn btn-primary btn-lg" %>



