<div class="jumbotron">
  <div class="container">
    <h1>Welcome to <strong>In Progress</strong></h1>
    <p>This is a website for artists to share their work. Please explore!</p>
    <p>If you are an artist yourself, please
      <%= link_to "Sign Up!", new_artist_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
