<div class="jumbotron">
  <div class="container">
    <h1>Welcome to <strong>In Progress</strong></h1>
    <p>This is a website for artists to share their work. Please explore!</p>
    <p>If you are an artist yourself, please
      <%= link_to "Sign Up!", new_artist_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>

  <div>

  </div>
</div>

<div>

    <!-- <h2>Artists</h2>
    <ul class="list-unstyled">
       <#% @artists.each do |a| %>

       <img src="<#%= a.picture_url %>">
       <li><h3><#%= a.username %></h3></li>
       <#% end %>
    </ul> -->

</div>

<% @artists.each do |artist| %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="<%= artist.picture_url %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= artist.username %></h4>
    </div>
  </div>
<% end %>

<!-- <ul class="thumbnails">
  <li class="span4">
    <div class="thumbnail">
      <#% @artists.each do |a| %>
      <img data-src="holder.js/300x200" alt="">
      <h3><#%= a.username %></h3>
      <p>Thumbnail caption...</p>
      <#% end %>
    </div>
  </li>
  ...
</ul> -->
